.container {
  margin: 10px auto;
  max-width: 1200px;
  padding: 0 20px;
}
.tags {
  margin: 20px 0;
}
.tag {
  display: inline-block;
  padding: 7px 12px;
  margin-right: 10px;
  background-color: #cb11ab;
  border-radius: 20px;
  transition: opacity 0.3s ease;
}
.tag:hover {
  opacity: 0.8;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  border-radius: 10px;
  overflow: hidden;
}
.cardimg {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.carddesc {
  padding: 10px;
  background-color: #16181a;
}

@media (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .cardimg {
    height: 250px;
  }
}