.container {
  margin: 10px auto;
  max-width: 1200px;
  padding: 0 20px;
}
.tags {
  /* position: fixed;
  top: 0;
  z-index: 10;
  background-color: black; */
  margin: 20px 0;
}
.tag {
  display: inline-block;
  padding: 7px 12px;
  margin: 10px 10px 10px 0;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 goldenrod;
}
.tag:hover {
  opacity: 0.8;
}
.tag.active {
  box-shadow: 0 5px 5px goldenrod;
}
.wb {
  background-color: #cb11ab;
}
.brandly {
  color: #1d1d1c;
  background-color: #DBFF00;
}
.brd, .oskelly {
  background-color: #1c1c1c;
}
.va, .ls, .un {
  color: rgb(34, 34, 34);
  background-color: #ffffff;
}
.tsum {
  background-color: #f94f0e;
}
.usmall {
  background-color: #e13b3b;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #16181a;
}
.cardimg {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.carddesc {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;

  padding: 10px;
}
.cardprice {
  display: inline-block;
  padding: 7px 12px;
  border-radius: 20px;
  font-weight: bold;
  margin: 5px 0 0 5px;
}
.cardsize {
  opacity: 0.4;
  transition: opacity .3s ease-in;
  font-size: 12px;
}
.cardsize:hover {
  opacity: 1;
}

@media (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .cardimg {
    height: 250px;
  }
}